/* * { margin:0; padding: 0; } */

body {
  background-color: rgb(39, 4, 6);
  margin-right: 2.5vh;
  color: #f2f2f2
}

h1 {text-align: center}

.list {

  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.pwned {
  text-align: center;
}

.input {
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

input{
  text-align: center;
}

.emailinput {
  text-align: center;
}


.bien {
  animation: cssAnimation 0s 1s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}